.po-split {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: clamp(2rem, 5vw, 4rem);
	padding: clamp(3rem, 8vw, 6rem) clamp(1.5rem, 5vw, 4rem);
	align-items: center;
}

.po-split--image-right .po-split__text {
	order: 1;
}

.po-split--image-right .po-split__media {
	order: 2;
}

.po-split:not(.po-split--image-right) .po-split__text {
	order: 2;
}

.po-split:not(.po-split--image-right) .po-split__media {
	order: 1;
}

.po-split__headline {
	font-size: clamp(1.75rem, 4vw, 2.5rem);
	font-weight: 700;
	margin: 0 0 1.5rem 0;
	line-height: 1.2;
}

.po-split__content {
	font-size: 1rem;
	line-height: 1.7;
	color: #333;
}

.po-split__content p {
	margin: 0 0 1rem 0;
}

.po-split__content p:last-child {
	margin-bottom: 0;
}

.po-split__cta {
	display: inline-block;
	margin-top: 1.5rem;
	padding: 0.875rem 1.75rem;
	background: #000;
	color: #fff;
	text-decoration: none;
	border-radius: 100px;
	font-weight: 500;
	transition: opacity 0.2s;
}

.po-split__cta:hover {
	opacity: 0.8;
}

.po-split__media img {
	width: 100%;
	height: auto;
	display: block;
}

.po-split[style*="background-color: rgb(0, 0, 0)"] .po-split__headline,
.po-split[style*="background-color:#000000"] .po-split__headline,
.po-split[style*="background-color: #000000"] .po-split__headline {
	color: #fff;
}

.po-split[style*="background-color: rgb(0, 0, 0)"] .po-split__content,
.po-split[style*="background-color:#000000"] .po-split__content,
.po-split[style*="background-color: #000000"] .po-split__content {
	color: #ccc;
}

@media (max-width: 768px) {
	.po-split {
		grid-template-columns: 1fr;
	}
	
	.po-split__text,
	.po-split__media {
		order: unset !important;
	}
	
	.po-split__media {
		order: -1 !important;
	}
}
